In [1]:
# Dict
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [2]:
# d = {<key>:<value>, <key>:<value>}

In [3]:
d = {'a':'apple', 'b':'ball', 'c':'cat'}
print(d)
print(type(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>

In [5]:
print(d['a'])
print(d['b'])

apple
ball

In [8]:
d = {'a':'apple', 'b':'ball', 'c':'cat','a':'ant'}
d

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [9]:
# Update
d = {'a': 'ant', 'b': 'ball', 'c': 'cat'}
d['a'] = 'Ant'
d

{'a': 'Ant', 'b': 'ball', 'c': 'cat'}

In [11]:
# d = dict()
d = {}
d['a'] = 'apple'
d['b'] = 'ball'
d['c'] = 'cat'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [12]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[phone] = name
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808667654
{'9808778765': 'Ram', '9808667654': 'Shyam'}

In [13]:
d = {'9808778765': 'Ram', '9808667654': 'Shyam'}
for i in d:
    print(i)

9808778765
9808667654

In [14]:
d = {'9808778765': 'Ram', '9808667654': 'Shyam'}
for i in d.values():
    print(i)

Ram
Shyam

In [15]:
d = {'9808778765': 'Ram', '9808667654': 'Shyam'}
for i in d.items():
    print(i)

('9808778765', 'Ram')
('9808667654', 'Shyam')

In [16]:
t = (('9808778765', 'Ram'),('9808667654', 'Shyam'))
d = dict(t)
d

{'9808778765': 'Ram', '9808667654': 'Shyam'}

In [17]:
# del pop()
d = {'9808778765': 'Ram', '9808667654': 'Shyam'}
del d['9808778765']
d

{'9808667654': 'Shyam'}

In [19]:
a = {'9808778765': 'Ram', '9808667654': 'Shyam'}
b = {1:1, 2:4, 3:9}
a.update(b)
print(a)

{'9808778765': 'Ram', '9808667654': 'Shyam', 1: 1, 2: 4, 3: 9}

In [20]:
# list inside dict

In [21]:
d = {'name':['Ram','Shyam','Hari','Sita'],
    'age':[34,45,65,56],
    'add':["Kathmandu","Bhaktapur","Lalitpur","Jhapa"]}
d

{'name': ['Ram', 'Shyam', 'Hari', 'Sita'],
 'age': [34, 45, 65, 56],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Jhapa']}

In [ ]:
d = {'name':[], 'age':[], 'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter phone = ")
    add = input("Enter add = ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
    
print(d)

In [22]:
# #dict inside list
# l = [{'name':'Ram','age':45,'add':'Kathmandu'},
#     {'name':'Rama','age':25,'add':'Bhaktapur'},
#     {'name':'Sita','age':22,'add':'Lalitpur'}]

In [23]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter phone = ")
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
l

Enter n = 2
Enter name = Ram
Enter phone = 34
Enter add = Kathmandu
Enter name = Shyam
Enter phone = 67
Enter add = Bhaktapur

[{'name': 'Ram', 'age': '34', 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': '67', 'add': 'Bhaktapur'}]

In [7]:
l = [{'name': 'Ram', 'age': '34', 'add': 'Kathmandu'},
     {'name': 'Shyam', 'age': '67', 'add': 'Bhaktapur'}]
l[0]

{'name': 'Ram', 'age': '34', 'add': 'Kathmandu'}

In [8]:
l[0]['name']

'Ram'

In [10]:
l[0]['name'] = "Rama"
l

[{'name': 'Rama', 'age': '34', 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': '67', 'add': 'Bhaktapur'}]

In [24]:
# dict inside dict

In [25]:
# d = {1:{'name': 'Ram', 'age': '34', 'add': 'Kathmandu'},
#      2:{'name': 'Shyam', 'age': '67', 'add': 'Bhaktapur'}}

In [1]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = input("Enter phone = ")
    add = input("Enter add = ")
    dd = {'name':name,'age':age,'add':add}
    d[i] = dd
d

Enter n = 2
Enter name = Ram
Enter phone = 45
Enter add = Kathmandu
Enter name = Shyam
Enter phone = 45
Enter add = Lalitpur

{1: {'name': 'Ram', 'age': '45', 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': '45', 'add': 'Lalitpur'}}

In [3]:
d[2]

{'name': 'Shyam', 'age': '45', 'add': 'Lalitpur'}

In [4]:
d[1]['name']

'Ram'

In [5]:
d[1]['name'] = "Rama"
d

{1: {'name': 'Rama', 'age': '45', 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': '45', 'add': 'Lalitpur'}}

In [ ]:
# d = {1:{'name': 'Ram', 'age': '34', 'add': {'per:Kathmandu','temp':'Kathmandu'}},
#      2:{'name': 'Shyam', 'age': '67', 'add': {'tep':Bhaktapur','per':'Jhapa'}}}