In [1]:
# for loop
# while loop

In [2]:
# range(5)           0,1,2,3,4  for(i=0; i<5; i++)
# range(1,5)         1,2,3,4    for(i=1; i<5; i++)
# range(1,10,2)      1,3,5,7,9  for(i=1; i<5; i= i+2)

In [2]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [3]:
for i in range(1,5):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [6]:
for i in range(0,5,2):
    print(i,"Hello World")

0 Hello World
2 Hello World
4 Hello World

In [7]:
for j in range(5,-1,-1):
    print(j,"Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World

In [10]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [9]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 6
6
12
18
24
30
36
42
48
54
60

In [13]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [2]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
print(s)

Enter n = 2
Enter x = 10
Enter x = 20

In [3]:
s = ''
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s + x
print(s)

Enter n = 2
Enter x = Apple
Enter x = Ball
AppleBall

In [18]:
s = ''
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s + x + "\n"
print(s)

Enter n = 2
Enter x = Ram
Enter x = Shyam
Ram
Shyam

In [19]:
s = ''
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + " " +phone + "\n"
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9878776765
Enter name = Shyam
Enter phone = 9808667890
Ram 9878776765
Shyam 9808667890

In [20]:
# name =?
# price =?
# qty = ?
# total = price *qty
# all_total = ?

In [23]:
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    bill = bill + name+ " " +str(price) +" "+ str(qty) +" "+ str(total)+"\n"
    all_total = all_total + total
print(bill)
print(all_total)

Enter n = 2
Enter name = Apple
Enter price = 100
Enter qty = 2
Enter name = Banana
Enter price = 200
Enter qty = 4
Apple 100.0 2.0 200.0
Banana 200.0 4.0 800.0

In [9]:
# 1*2*3*4*5
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac *i
    
print(fac)

Enter n = 10
3628800

In [11]:
a = "Hello World"
for i in a:
    print(i, end = "")

Hello World

In [20]:
a = "Hello World. I am Python."
for i in a:
    if i != ".":
        print(i,end = "")

Hello World I am Python

In [24]:
a = "Hello World. I am Python_"
for i in a:
    if i != "." and i !="_":
        print(i,end = "")

Hello World I am Python

In [25]:
# control statements
# break
# continue

In [27]:
for i in range(10):
    if i == 5:
        break
    print(i, end = " ")

0
1
2
3
4

In [28]:
for i in range(10):
    if i == 5:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [30]:
a = "Hello World. I am Python."
for i in a:
    if i == ".":
        break
    print(i,end = "")

Hello World

In [31]:
a = "Hello World. I am Python."
for i in a:
    if i == ".":
        continue
    print(i,end = "")

Hello World I am Python

In [32]:
# # WAP to detect if the given is prime or composite
# # prime  -> 2,3,5,7,11,13,17
# # composite -> 4,6,8,9,10,12
# use break statement, for else loop

In [2]:
# while loop

# while <condition>:
#     <operations>

In [14]:
a = 0
while a<5:
    print(a,"Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
a = 1
while a<=5:
    print(a,"Hello World")
    a = a+2

1 Hello World
3 Hello World
5 Hello World

In [7]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i = i+1
    #i+=1

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
s = 0
i = 0
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter x = "))
    s = s + x
    i = i+1
print(s)

In [8]:
# 1*2*3*4*5
fac = 1
i = 1
n = int(input("Enter n = "))
while i<=n:
    fac = fac *i
    i = i + 1
print(fac)

Enter n = 5
120

In [9]:
# control statements
# break
# continue

In [10]:
i = 0
while i <=10:
    if i == 5:
        break
    print(i)
    i = i + 1

0
1
2
3
4

In [3]:
i = 0
while i <=10:
    if i == 5:
        i = i+1
        continue
    print(i, end = " ")
    i = i + 1

0 1 2 3 4 6 7 8 9 10

In [4]:
# # WAP to detect if the given is prime or composite
# # prime  -> 2,3,5,7,11,13,17
# # composite -> 4,6,8,9,10,12
# use break statement, for else loop

In [9]:
n = int(input("Enter n = "))
for i in range(2,n):
    if n % i == 0:
        print("This is composite no.")
        break
        
else:
    print("The no is prime")

Enter n = 7
The no is prime

In [12]:
i = 2
n = int(input("Enter n = "))
while i<n:
    if n % i == 0:
        print("This is composite no.")
        break
    i = i+1
        
else:
    print("The no is prime")

Enter n = 7
The no is prime