In [1]:
!pip install mysql-connector 
# !pip install mysql-connector-python

Requirement already satisfied: mysql-connector in c:\users\aayush\anaconda3\lib\site-packages (2.2.9)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\aayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\aayush\anaconda3\lib\site-packages)
WARNING: Error parsing requirements for plotly: [Errno 2] No such file or directory: 'c:\\users\\aayush\\anaconda3\\lib\\site-packages\\plotly-5.14.1.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -atplotlib (c:\users\aayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\aayush\anaconda3\lib\site-packages)

In [7]:
import mysql.connector  #importing database
database = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database = "class_python_3pm"
            )
db = database.cursor()

In [9]:
sql = "SELECT * FROM student"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Ram', 78, 89, 90, 67, 89, 412, 83.3, 'A'), (2, 'Hari', 78, 87, 89, 67, 67, 400, 82.5, 'A'), (3, 'Sita', 78, 89, 67, 87, 78, 420, 80.0, 'A')]

In [10]:
sql = "SELECT sn,name,total,per,grade FROM student"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Ram', 412, 83.3, 'A'), (2, 'Hari', 400, 82.5, 'A'), (3, 'Sita', 420, 80.0, 'A')]

In [11]:
sql = "SELECT * FROM student WHERE grade = 'A'"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Ram', 78, 89, 90, 67, 89, 412, 83.3, 'A'), (2, 'Hari', 78, 87, 89, 67, 67, 400, 82.5, 'A'), (3, 'Sita', 78, 89, 67, 87, 78, 420, 80.0, 'A')]

In [13]:
# insert
sql = '''INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per, grade) 
                     VALUES ('Nita', 69, 80, 90, 88, 98, 470, 88, 'A');'''
db.execute(sql)
database.commit()

In [14]:
# WAP to create a result management system takeing data from user and store it in databse

In [15]:
# Update

In [16]:
sql = "UPDATE student SET name = 'Alisha' WHERE sn = 5"
db.execute(sql)
database.commit()

In [17]:
# Delete
sql = "DELETE FROM student WHERE sn = 6"
db.execute(sql)
database.commit()