In [1]:
# list
# tuple
# dict
# set

In [2]:
# list
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [3]:
a = [1,2,3,4,5,6,7,8]
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [6]:
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(b[0])
print(b[0:5])
print(b[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
['Apple', 'Cat', 'Fish']

In [7]:
a = [1,2,3,4]
b = [5,6,7,8]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [9]:
# append() insert() extend()
l = []
# l = list()
n = int(input('Enter n = '))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
print(l)

Enter n = 5
Enter x = 243
Enter x = 345
Enter x = 323
Enter x = 465
Enter x = 546
[243, 345, 323, 465, 546]

In [12]:
print("The max value = ",max(l))
print("The min value = ",min(l))
print("The sum = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

The max value =  546
The min value =  243
The sum =  1922
[243, 323, 345, 465, 546]
[546, 465, 345, 323, 243]

In [13]:
a = ["Ball","Cat","Apple","Ant"]
a.sort()
print(a)

['Ant', 'Apple', 'Ball', 'Cat']

In [15]:
a = ["Ball","Cat","Apple","Ant"]
a.insert(1,"cat")
a

['Ball', 'cat', 'Cat', 'Apple', 'Ant']

In [16]:
a = ["Ball","Cat","Apple","Ant"]
b = [1,2,3]
a.extend(b)
print(a)

['Ball', 'Cat', 'Apple', 'Ant', 1, 2, 3]

In [18]:
#update
a = ["Ball","Cat","Apple","Ant"]
a[0] = "ball"
print(a)

['ball', 'Cat', 'Apple', 'Ant']

In [19]:
a = ["Ball","Cat","Apple","Ant"]
a[0:2] = ["ball","cat"]
print(a)

['ball', 'cat', 'Apple', 'Ant']

In [21]:
# del remove() pop()
a = ["Ball","Cat","Apple","Ant"]
del a[0]
print(a)

['Cat', 'Apple', 'Ant']

In [22]:
a = ["Ball","Cat","Apple","Ant"]
del a[0:2]
print(a)

['Apple', 'Ant']

In [23]:
a = ["Ball","Cat","Apple","Ant"]
a.remove('Ball')
print(a)

['Cat', 'Apple', 'Ant']

In [25]:
a = ["Ball","Cat","Apple","Ant","Ball"]
c = a.count("Ball")
for i in range(c):
    a.remove('Ball')
print(a)

['Cat', 'Apple', 'Ant']

In [27]:
a = ["Cat","Apple","Ant","Ball"]
b = a.pop(1)
print(b)

Apple

In [29]:
a = ["Ball","Cat","Apple","Ant","Ball"]
if "Apple" in a:
    print("There is apple")
    print(a.count("Apple"))
else:
    print("There is no apple")

There is apple
1

In [ ]:
a = ["Ball","Cat","Apple","Ant","Ball"]
if "Apple" not in a:
    print("There is no apple")
else:
    print("There is apple")
    print(a.count("Apple"))

In [30]:
a = ["Ball","Cat","Apple","Ant","Ball"]
for i in a:
    print(i)

Ball
Cat
Apple
Ant
Ball

In [32]:
a = ["Ball","Cat","Apple","Ant","Ball"]
l = len(a)
for i in range(l):
    print(a[i])

Ball
Cat
Apple
Ant
Ball

In [33]:
a = ["Ball","Cat","Apple","Ant","Ball"]
l = len(a)
for i in range(l):
    if a[i] == "Ball":
        print(i)

0
4

In [1]:
# list inside list

In [2]:
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]

print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
data = [['Ram',34,"Kathmandu"],
       ["Shyam",56,"Lalitpur"],
       ["Hari",23,"Lalitpur"]]
print(data)

[['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Lalitpur'], ['Hari', 23, 'Lalitpur']]

In [6]:
data[2]

['Hari', 23, 'Lalitpur']

In [8]:
data[0][0]

'Ram'

In [9]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info.append([name,age,add])
    
print(info)

Enter n = 3
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
Enter name = Hari
Enter age = 34
Enter add = Lalitpur
[['Ram', 89, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [11]:
data = [['Ram', 89, 'Kathmandu'],
        ['Shyam', 89, 'Bhaktapur'],
        ['Hari', 34, 'Lalitpur']]

name = input("Enter name = ")
for i in data:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 89, 'Kathmandu']

In [ ]:
bill = []
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    bill.append([i,name,price,quantity,total])
    all_total = all_total + total
print(bill)
print(all_total)

In [13]:
data = [['Ram', 89, 'Kathmandu'], 
        ['Shyam', 89, 'Bhaktapur'], 
        ['Hari', 34, 'Lalitpur']]
data[0][0] = "Rama"
data

[['Rama', 89, 'Kathmandu'],
 ['Shyam', 89, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur']]

In [15]:
# # WAP to create a matrix 
# r = ?
# c = ?
# x = ?
# l = [[1,2,3],
#     [4,5,6],
#     [7,8,9]]

In [16]:
mat = []
r = int(input('Enter r = '))
c = int(input("Enter c = "))
for i in range(r):
    z = []
    for j in range(c):
        x = int(input("Enter x = "))
        z.append(x)
    mat.append(z)
    
print(mat)

Enter r = 2
Enter c = 2
Enter x = 32
Enter x = 345
Enter x = 65
Enter x = 34
[[32, 345], [65, 34]]