In [1]:
# Set
# -No Indexing
# -Unordered
# -Multiple and but no duplicate data
# -Mutable

In [2]:
s = set()

In [3]:
s = {1,2,3,4,5,6,7,8,9}
s = {"Apple","Ball",'Cat',"Dog"}
print(type(s))

<class 'set'>

In [4]:
s = {"Apple","Ball",'Cat',"Dog"}
print(s[0])

TypeError: 'set' object is not subscriptable

In [5]:
s = {"Apple","Ball",'Cat',"Dog"}
print(s)

{'Cat', 'Apple', 'Ball', 'Dog'}

In [7]:
s = {"Apple","Ball",'Cat',"Dog","Apple","Ball"}
print(s)

{'Cat', 'Apple', 'Ball', 'Dog'}

In [8]:
# add()
s = set()
s.add("Apple")
s.add("Ball")
print(s)

{'Apple', 'Ball'}

In [1]:
s = {'Apple', 'Ball','Cat', 'Dog'}
for i in s:
    print(i)

Cat
Dog
Apple
Ball

In [2]:
s = {'Apple', 'Ball','Cat', 'Dog'}
s.remove("Apple")
print(s)

{'Cat', 'Dog', 'Ball'}

In [3]:
a = {1,2,3}
b = {4,5,6}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [4]:
a = {1,2,3}
b = {4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [5]:
# no list inside set
# no dict inside set
# no set inside set

In [11]:
s = {('Apple',), ('Ball','Cat', 'Dog')}
s

{('Apple',), ('Ball', 'Cat', 'Dog')}

In [13]:
l = [{1,2,3},{4,5,6}]

In [14]:
l = ({1,2,3},{4,5,6})

In [15]:
d = {1:{"Apple","Ant"},
    2:{"Ball","Banana"}}
d

{1: {'Ant', 'Apple'}, 2: {'Ball', 'Banana'}}

In [16]:
# set in math

In [23]:
U = {'xyz','abc','Sabin', 'Ram', 'Saroj', 'Shyam', 'Nikesh', 'Hari', 'Subhod', 'Bill', 'Mike', 'Jhon', 'Steave', 'Willium'}
apple = {"Jhon","Steave","Mike","Ram","Hari","Shyam","Nikesh"}
ms = {"Bill","Willium","Sabin","Saroj","Subhod","Shyam","Hari"}

i = apple.intersection(ms)
print(i)

{'Shyam', 'Hari'}

In [18]:
un = ms.union(apple)
print(un)

{'Sabin', 'Ram', 'Saroj', 'Shyam', 'Nikesh', 'Hari', 'Subhod', 'Bill', 'Mike', 'Jhon', 'Steave', 'Willium'}

In [19]:
df1 = apple - ms              #only at apple
print(df1)

{'Ram', 'Nikesh', 'Mike', 'Jhon', 'Steave'}

In [21]:
df2 = ms - apple              #only at ms
print(df2)

{'Sabin', 'Saroj', 'Subhod', 'Bill', 'Willium'}

In [24]:
unemp = U - un
print(unemp)

{'abc', 'xyz'}