In [1]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(a,b,c)
print(type(a),type(b),type(c))

Hello World Hello World Hello World
<class 'str'> <class 'str'> <class 'str'>

In [2]:
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [4]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [5]:
a = input("Enter a = ")
print(a)

Enter a = Hello
Hello

In [10]:
a = "Hello World"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
HloWr

In [11]:
a = "Hello World"
b = a[0:5]
print(a)
print(b)

Hello World
Hello

In [17]:
name = "Ram"
age = 67
add = "Kathmandu"

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Hello World I am Ram I am from Kathmandu I am 67

In [15]:
# string formatting
name = "Ram"
age = 67
add = "Kathmandu"

info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Hello World I am Ram. I am from Kathmandu. I am 67

In [18]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = f"{name} {age} {add}\n"
    s = s + info
    
print(s)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Bhaktapur
Ram 34 Kathmandu
Shyam 78 Bhaktapur

In [32]:
a = "Hello World"
print(a[-1:-12:-1])

dlroW olleH

In [33]:
len(a)

11

In [35]:
a[::-1]

'dlroW olleH'

In [41]:
# search in string
a = "Ram Shyam Hari Sita Gita Ramesh"
name = input('Enter name = ')
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name = ram
No

In [43]:
a = "Ram Shyam Hari Sita Gita Ramesh"
print(a.lower())
print(a.upper())
print(a)

ram shyam hari sita gita ramesh
RAM SHYAM HARI SITA GITA RAMESH
Ram Shyam Hari Sita Gita Ramesh

In [44]:
# search in string
a = "Ram Shyam Hari Sita Gita Ramesh".lower()
name = input('Enter name = ').lower()
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name = ram
Yes
2

In [46]:
a = "Hello World"
for i in a:
    print(i, end = "")

Hello World

In [48]:
a = "Hello World"
l = len(a)
i = 0
while i<l:
    print(a[i], end = "")
    i = i+1

Hello World

In [51]:
a = "Ram Shyam Hari Sita Gita Ramesh"
a = a.replace("Ram","ram")
print(a)

ram Shyam Hari Sita Gita ramesh

In [53]:
a = "Ram Shyam Hari Sita Gita Ramesh"
a = a.replace("Ram ","ram ")
print(a)

ram Shyam Hari Sita Gita Ramesh

In [56]:
a = "Ram Shyam Hari Sita Gita Ramesh"

a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ramesh']

In [57]:
a = "Ram_Shyam_Hari_Sita_Gita_Ramesh"

a.split("_")

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ramesh']