In [1]:
# list
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Imutable

In [2]:
t = (1,2,3,4,5,6)
k = ("Apple","Ball","Cat","Dog")
print(type(t))
print(type(k))

<class 'tuple'>
<class 'tuple'>

In [4]:
print(k[0])
print(t[0])

Apple
1

In [5]:
t = (1,2,3)
j = (4,5,6)
print(t+j)

(1, 2, 3, 4, 5, 6)

In [6]:
t = (1,2,3)
print(t*2)

(1, 2, 3, 1, 2, 3)

In [7]:
# sum() min() max()

In [8]:
# No append() insert() extend()
# No del remove() pop()
# No update
# No sort() reverse()

In [12]:
t = ("1",)
type(t)

tuple

In [13]:
a = 1,2,3,4,5
print(a)

(1, 2, 3, 4, 5)

In [14]:
t = ()
#t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)
    
print(t)

Enter n = 3
Enter x = 231
Enter x = 432
Enter x = 32
(231, 432, 32)

In [15]:
# WAP to create the following tuple inside tuple
# data = (('Ram', 89, 'Kathmandu'), 
#         ('Shyam', 89, 'Bhaktapur'), 
#         ('Hari', 34, 'Lalitpur'))

In [17]:
t = (1,2,3)
l = list(t)
l

[1, 2, 3]

In [21]:
t = ('Ram', 89, 'Kathmandu')
l = list(t)
l[1] = 30
t = tuple(l)
t

('Ram', 30, 'Kathmandu')